---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none text-base">
		<h1 class="title mb-6">About</h1>
		<div>
			Hi, I’m Chen Zhao, a Research Scientist at QuEra Computing Inc. in Boston, MA. My research interests include quantum error correction, quantum algorithms, and quantum software. I enjoy exploring and verifying my research ideas through coding, primarily using Julia and Python, which allows me to seamlessly translate theory into practice. 
		</div>
		<br>
		<div>
			Outside of my research work, I am also a professional yo-yoer, combining precision and creativity in a completely different field. Check out <a href="https://www.instagram.com/zhao_chen/" target="_blank">my Instagram</a> to see more about my life beyond the lab.
		</div>
		<h2>Research experience</h2>
		<ul class="list-inside list-disc" role="list">
			<div>
				<div class="flex justify-between">
					<span><b>QuEra Computing Inc., Boston, MA</b></span>
					<span>Jan. 2024 – Present</span>
				</div>
				<i>Research Scientist</i>
			</div>
			<div>
				<div class="flex justify-between">
					<span><b>Harvard University, Cambridge, MA</b></span>
					<span>Sep 2022 – Jan 2024</span>
				</div>
				<i>Postdoctoral Fellow</i>
				 <!-- in Professor Arthur Jaffe's group -->
			</div>
		</ul>
		<h2>Education</h2>
		<ul class="list-inside list-disc" role="list">
			<div>
				<div class="flex justify-between">
					<span><b>University of Chinese Academy of Sciences</b></span>
					<span>Sep. 2017 – Jun. 2022</span>
				</div>
				<i>Ph.D. in Applied Mathematics</i>
				 <!-- advised by Professor Xiao-Shan Gao -->
			</div>
			<div>
				<div class="flex justify-between">
					<span><b>Sun Yat-sen University</b></span>
					<span>Aug. 2013 – Jun. 2017</span>
				</div>
				<i>Bachelor of Science in Mathematics and Applied Mathematics</i>
			</div>
		</ul>
	</div>
</PageLayout>
