---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "All about spin, entanglement, and topology.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none text-base">
		<h1 class="title mb-6">About</h1>
		<div>
			<div>
				Hi, I am Chen Zhao. My passion lies in <i><b>spin</b></i>, <i><b>entanglement</b></i>, and non-trivial <i><b>topology</b></i>—concepts that shape both my research and my hobbies.
			</div>
			<br>
			<div>
				As a Research Scientist at QuEra Computing Inc. in Boston, MA, I focus on quantum error correction, quantum algorithms, and quantum software, investigating how entanglement and topology can make quantum computing scalable and practical. I enjoy bringing theoretical concepts to life through coding, particularly using Julia.
			</div>
			<br>
			<div>
				Outside of the lab, I am also a professional yo-yo player, where precise control of spin reveals the intricacies of entanglement, resulting in non-trivial topologies in motion. Check out <a href="https://www.instagram.com/zhao_chen/" target="_blank">my Instagram</a> for a glimpse into another world of spin.
			</div>
		</div>
		<h2>Research experience</h2>
		<ul class="list-inside list-disc" role="list">
			<div>
				<div class="flex justify-between">
					<span><b>QuEra Computing Inc.</b></span>
					<span>2024–Present</span>
				</div>
				<div class="text-sm">
					<i>Research Scientist</i>
				</div>
			</div>
			<div>
				<div class="flex justify-between">
					<span><b>Harvard University</b></span>
					<span>2022–2024</span>
				</div>
				<div class="text-sm">
					<i>Postdoctoral Fellow</i>
				</div>
			</div>
		</ul>
		<h2>Education</h2>
		<ul class="list-inside list-disc" role="list">
			<div>
				<div class="flex justify-between">
					<span><b>University of Chinese Academy of Sciences</b></span>
					<span>2017–2022</span>
				</div>
				<div class="text-sm">
					<i>Ph.D. in Applied Mathematics</i>
				</div>
			</div>
			<div>
				<div class="flex justify-between">
					<span><b>Sun Yat-sen University</b></span>
					<span>2013–2017</span>
				</div>
				<div class="text-sm">
					<i>Bachelor of Science in Mathematics and Applied Mathematics</i>
				</div>
			</div>
		</ul>
	</div>
</PageLayout>
